huggingface_hub
transformers
pypdf
langchain
unstructured[all-docs]
unstructured==0.7.12
pymilvus==2.2.5
setuptools==65.6.3
markdown
docx2txt
sentence-transformers
docx
pandas
fastapi
uvicorn
python-multipart
beautifulsoup4
openai
tiktoken